@mixin transition($time) {
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
    -o-transition: all $time ease;
    transition: all $time ease-in-out;
}

$transition-time: .3s;
$body-text-size: 15px;
$sub-text-size: 14px;
body {
    background: #eee;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    a {
        @include transition($transition-time);
    }
    h1 {
        text-align: center;
    }
    h2 {
        font-size: 20px;
        text-align: center;
    }
}

.spinner {
    z-index:99999;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    display:flex;
    justify-content:center;
    align-items:center;
    
    img {
        height:200px;
        width:200px;
    }
}

header {
    .nav-wrapper {
        padding-left: 10px;
        padding-right: 10px;
        #filter-buttons a {
            margin: 0 5px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

main {
    flex: 1 0 auto;
    .card-title i {
        font-size: $body-text-size;
    }
    .project-description {
        padding-top: 10px;
        font-size: $body-text-size;
    }
    .project-notes {
        padding-top: 10px;
        font-size: $sub-text-size;
    }
    .project-dates {
        font-size: $sub-text-size;
    }
    .category {
        padding-top: 20px;
    }
    .buttons {
        border-top: 1px solid #eee;
        div {
            overflow: hidden;
        }
        .tag {
            float: left;
            padding: 3px 10px;
            color: #fff;
            font-size: 12px;
            margin: 0 3px 3px 0;
        }
        .tech {
            @extend .tag;
            background: #888;
        }
        .link {
            @extend .tag;
            background: #333;
        }
        .link:hover {
            color: #333;
            background: #eee;
        }
    }
    textarea.materialize-textarea {
        padding: 5px 0px;
    }
    .add-entry {
        position: fixed;
        bottom: 30px;
        right: 30px;
    }
    .modal {
        .modal-footer {
            height: 60px;
            .btn,
            .btn-flat {
                margin: 8px 4px;
            }
        }
        .modal-content h4 {
            padding-top: 20px;
        }
        .row {
            margin: 0px;
        }
        .delete-link-btn {
            color: #555;
            i {
                margin-top: 25px;
            }
        }
    }
}

.page-footer {
    padding-top: 0px;
    text-align: center;
    a {
        color: #fff;
    }
}