<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--jQuery-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!--angular scripts-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

    <!--mobile scaling-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--materialize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

    <!--main stylesheet-->
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="app" ng-controller="controller">

    <h1>{{ title }}</h1>
    <div ng-repeat="category in projects">
        {{category.category}}
        <div ng-repeat="value in category.projects">
            {{value}}
        </div>
    </div>
    <!--angular controllers-->
    <script src="js/controller.js"></script>
</body>
</html>